<div class="container">
  <div class="row">
    <div class="col-6">
      <video controls (click)="toggleVideo()" #videoPlayer>
        <source src="assets/videos/example.mp4" type="video/mp4" />
      </video>
      <button (click)="playPause()">Play/Pause</button>
      <button (click)="analize()">Analize</button>
      <button (click)="makeScreen()">Make Screen</button>
    </div>

    <div class="col-6">
      <video controls (click)="toggleVideo()" #videoPlayer>
        <source src="assets/videos/example.mp4" type="video/mp4" />
      </video>
      <button (click)="playPause()">Play/Pause</button>
      <button (click)="analize()">Analize</button>
      <button (click)="makeScreen()">Make Screen</button>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <video controls (click)="toggleVideo()" #videoPlayer>
        <source src="assets/videos/example.mp4" type="video/mp4" />
      </video>
      <button (click)="playPause()">Play/Pause</button>
      <button (click)="analize()">Analize</button>
      <button (click)="makeScreen()">Make Screen</button>
    </div>

    <div class="col-6">
      <video controls (click)="toggleVideo()" #videoPlayer>
        <source src="assets/videos/example.mp4" type="video/mp4" />
      </video>
      <button (click)="playPause()">Play/Pause</button>
      <button (click)="analize()">Analize</button>
      <button (click)="makeScreen()">Make Screen</button>
    </div>
  </div>
</div>
