body {
  background-color: #F0F0F0;
}

#app-counter {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#video {
  background-color: #000000;
}

#canvas {
  display: none;
}

li {
  display: inline;
  padding: 5px;
}

.video {
  border: 2px solid black;
  border-radius: 5px;
}
